USE [TIMEMANAGEMENT]
GO
/****** Object:  Table [dbo].[ABSENTHISTORY]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABSENTHISTORY](
	[REQUESTID] [int] NOT NULL,
	[DATE] [date] NULL,
	[REASON] [varchar](100) NULL,
	[ACCEPT_TYPE] [int] NULL,
	[USERNAME] [varchar](100) NULL,
	[ACCEPTER] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[GROUPID] [int] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[NAME] [varchar](100) NULL,
	[GENDER] [bit] NULL,
	[DOB] [date] NULL,
	[EMAIL] [varchar](100) NULL,
	[USERNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[NAME] [varchar](100) NULL,
	[GENDER] [bit] NULL,
	[DOB] [date] NULL,
	[EMAIL] [varchar](100) NULL,
	[TIMEID] [int] NULL,
	[USERNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEATURES]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEATURES](
	[ID] [int] NOT NULL,
	[URL] [varchar](100) NULL,
 CONSTRAINT [PK_FEATURES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[ID] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_FEATURES]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_FEATURES](
	[GROUPID] [int] NULL,
	[FEATUREID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[ID] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
 CONSTRAINT [PK_REQUEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKTIME]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKTIME](
	[ID] [int] NOT NULL,
	[FROM] [time](7) NULL,
	[TO] [time](7) NULL,
 CONSTRAINT [PK_WORKTIME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKTIMEREPORT]    Script Date: 7/20/2021 9:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKTIMEREPORT](
	[DATE] [date] NULL,
	[FROM] [time](7) NULL,
	[TO] [time](7) NULL,
	[ACCEPT_TYPE] [int] NULL,
	[USERNAME] [varchar](100) NOT NULL,
	[ACCEPTER] [varchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ABSENTHISTORY] ([REQUESTID], [DATE], [REASON], [ACCEPT_TYPE], [USERNAME], [ACCEPTER]) VALUES (1, CAST(N'2021-06-06' AS Date), N'aldskjaldkj', 0, N'duongdd', NULL)
INSERT [dbo].[ABSENTHISTORY] ([REQUESTID], [DATE], [REASON], [ACCEPT_TYPE], [USERNAME], [ACCEPTER]) VALUES (1, CAST(N'2021-07-14' AS Date), N'sakdlajdlkajsd', 0, N'duongdd', NULL)
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [GROUPID]) VALUES (N'admin', N'1414', 1)
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [GROUPID]) VALUES (N'anhptl', N'1414', 2)
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [GROUPID]) VALUES (N'doducduong', N'1414', 2)
GO
INSERT [dbo].[ADMIN] ([NAME], [GENDER], [DOB], [EMAIL], [USERNAME]) VALUES (N'Do Duc Duong', 0, CAST(N'2001-11-14' AS Date), N'duongdd141100@gmail.com', N'admin')
INSERT [dbo].[ADMIN] ([NAME], [GENDER], [DOB], [EMAIL], [USERNAME]) VALUES (N'Nguyen Van Hung', 1, CAST(N'1998-11-14' AS Date), N'hungnv88@gmail.com', N'hungnv')
INSERT [dbo].[ADMIN] ([NAME], [GENDER], [DOB], [EMAIL], [USERNAME]) VALUES (N'Do The Quyen', 1, CAST(N'1998-03-06' AS Date), N'dothequyen98@gmail.com', N'quyendt')
GO
INSERT [dbo].[EMPLOYEE] ([NAME], [GENDER], [DOB], [EMAIL], [TIMEID], [USERNAME]) VALUES (N'Phan Thi Lan Anh', 0, CAST(N'1994-11-14' AS Date), N'lananh94@gmail.com', 3, N'anhptl')
INSERT [dbo].[EMPLOYEE] ([NAME], [GENDER], [DOB], [EMAIL], [TIMEID], [USERNAME]) VALUES (N'Do Duc Giang', 1, CAST(N'2021-06-01' AS Date), N'vangdau344@gmail.com', 1, N'doducduong')
INSERT [dbo].[EMPLOYEE] ([NAME], [GENDER], [DOB], [EMAIL], [TIMEID], [USERNAME]) VALUES (N'Do Duc Duong', 0, CAST(N'2000-11-14' AS Date), N'duongddhe140609@fpt.edu.vn', 1, N'duongdd')
GO
INSERT [dbo].[FEATURES] ([ID], [URL]) VALUES (1, N'/manage-employee')
INSERT [dbo].[FEATURES] ([ID], [URL]) VALUES (2, N'/absent-history')
INSERT [dbo].[FEATURES] ([ID], [URL]) VALUES (3, N'/work-time-report')
GO
INSERT [dbo].[GROUP] ([ID], [NAME]) VALUES (1, N'Admin')
INSERT [dbo].[GROUP] ([ID], [NAME]) VALUES (2, N'Employee')
GO
INSERT [dbo].[GROUP_FEATURES] ([GROUPID], [FEATUREID]) VALUES (1, 1)
INSERT [dbo].[GROUP_FEATURES] ([GROUPID], [FEATUREID]) VALUES (1, 6)
INSERT [dbo].[GROUP_FEATURES] ([GROUPID], [FEATUREID]) VALUES (1, 7)
GO
INSERT [dbo].[REQUEST] ([ID], [NAME]) VALUES (1, N'Work Late')
GO
INSERT [dbo].[WORKTIME] ([ID], [FROM], [TO]) VALUES (1, CAST(N'07:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[WORKTIME] ([ID], [FROM], [TO]) VALUES (2, CAST(N'15:00:00' AS Time), CAST(N'23:00:00' AS Time))
INSERT [dbo].[WORKTIME] ([ID], [FROM], [TO]) VALUES (3, CAST(N'23:00:00' AS Time), CAST(N'07:00:00' AS Time))
GO
INSERT [dbo].[WORKTIMEREPORT] ([DATE], [FROM], [TO], [ACCEPT_TYPE], [USERNAME], [ACCEPTER]) VALUES (CAST(N'2021-06-15' AS Date), CAST(N'09:16:34' AS Time), CAST(N'09:23:29' AS Time), 0, N'duongdd', NULL)
INSERT [dbo].[WORKTIMEREPORT] ([DATE], [FROM], [TO], [ACCEPT_TYPE], [USERNAME], [ACCEPTER]) VALUES (CAST(N'2021-06-15' AS Date), CAST(N'09:23:32' AS Time), CAST(N'09:23:43' AS Time), 1, N'duongdd', N'admin')
INSERT [dbo].[WORKTIMEREPORT] ([DATE], [FROM], [TO], [ACCEPT_TYPE], [USERNAME], [ACCEPTER]) VALUES (CAST(N'2021-06-17' AS Date), CAST(N'14:20:33' AS Time), CAST(N'14:20:46' AS Time), 0, N'doducduong', NULL)
GO
ALTER TABLE [dbo].[ABSENTHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ABSENTHISTORY_ADMIN] FOREIGN KEY([ACCEPTER])
REFERENCES [dbo].[ADMIN] ([USERNAME])
GO
ALTER TABLE [dbo].[ABSENTHISTORY] CHECK CONSTRAINT [FK_ABSENTHISTORY_ADMIN]
GO
ALTER TABLE [dbo].[ABSENTHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ABSENTHISTORY_EMPLOYEE] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[EMPLOYEE] ([USERNAME])
GO
ALTER TABLE [dbo].[ABSENTHISTORY] CHECK CONSTRAINT [FK_ABSENTHISTORY_EMPLOYEE]
GO
ALTER TABLE [dbo].[ABSENTHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ABSENTHISTORY_REQUEST] FOREIGN KEY([REQUESTID])
REFERENCES [dbo].[REQUEST] ([ID])
GO
ALTER TABLE [dbo].[ABSENTHISTORY] CHECK CONSTRAINT [FK_ABSENTHISTORY_REQUEST]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_GROUP] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[GROUP] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_GROUP]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_ACCOUNT] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_ACCOUNT]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_ACCOUNT] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_ACCOUNT]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_WORKTIME] FOREIGN KEY([TIMEID])
REFERENCES [dbo].[WORKTIME] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_WORKTIME]
GO
ALTER TABLE [dbo].[GROUP_FEATURES]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_FEATURES_FEATURES] FOREIGN KEY([FEATUREID])
REFERENCES [dbo].[FEATURES] ([ID])
GO
ALTER TABLE [dbo].[GROUP_FEATURES] CHECK CONSTRAINT [FK_GROUP_FEATURES_FEATURES]
GO
ALTER TABLE [dbo].[GROUP_FEATURES]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_FEATURES_GROUP] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[GROUP] ([ID])
GO
ALTER TABLE [dbo].[GROUP_FEATURES] CHECK CONSTRAINT [FK_GROUP_FEATURES_GROUP]
GO
ALTER TABLE [dbo].[WORKTIMEREPORT]  WITH CHECK ADD  CONSTRAINT [FK_WORKTIMEREPORT_ADMIN] FOREIGN KEY([ACCEPTER])
REFERENCES [dbo].[ADMIN] ([USERNAME])
GO
ALTER TABLE [dbo].[WORKTIMEREPORT] CHECK CONSTRAINT [FK_WORKTIMEREPORT_ADMIN]
GO
ALTER TABLE [dbo].[WORKTIMEREPORT]  WITH CHECK ADD  CONSTRAINT [FK_WORKTIMEREPORT_EMPLOYEE] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[EMPLOYEE] ([USERNAME])
GO
ALTER TABLE [dbo].[WORKTIMEREPORT] CHECK CONSTRAINT [FK_WORKTIMEREPORT_EMPLOYEE]
GO
