USE [master]
GO
/****** Object:  Database [TIMEMANAGEMENT]    Script Date: 3/29/2021 9:50:55 AM ******/
CREATE DATABASE [TIMEMANAGEMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TIMEMANAGEMENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TIMEMANAGEMENT.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TIMEMANAGEMENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TIMEMANAGEMENT_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TIMEMANAGEMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TIMEMANAGEMENT]
GO
/****** Object:  Table [dbo].[ABSENTHISTORY]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ABSENTHISTORY](
	[REQUESTID] [int] NOT NULL,
	[DATE] [date] NULL,
	[REASON] [varchar](100) NULL,
	[ACCEPT_TYPE] [int] NULL,
	[USERNAME] [varchar](100) NULL,
	[ACCEPTER] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[GROUPID] [int] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN](
	[NAME] [varchar](100) NULL,
	[GENDER] [bit] NULL,
	[DOB] [date] NULL,
	[EMAIL] [varchar](100) NULL,
	[USERNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[NAME] [varchar](100) NULL,
	[GENDER] [bit] NULL,
	[DOB] [date] NULL,
	[EMAIL] [varchar](100) NULL,
	[TIMEID] [int] NULL,
	[USERNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEATURES]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEATURES](
	[ID] [int] NOT NULL,
	[URL] [varchar](100) NULL,
 CONSTRAINT [PK_FEATURES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GROUP](
	[ID] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GROUP_FEATURES]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_FEATURES](
	[GROUPID] [int] NULL,
	[FEATUREID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REQUEST](
	[ID] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
 CONSTRAINT [PK_REQUEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WORKTIME]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKTIME](
	[ID] [int] NOT NULL,
	[FROM] [time](7) NULL,
	[TO] [time](7) NULL,
 CONSTRAINT [PK_WORKTIME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WORKTIMEREPORT]    Script Date: 3/29/2021 9:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WORKTIMEREPORT](
	[DATE] [date] NULL,
	[FROM] [time](7) NULL,
	[TO] [time](7) NULL,
	[ACCEPT_TYPE] [int] NULL,
	[USERNAME] [varchar](100) NOT NULL,
	[ACCEPTER] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ABSENTHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ABSENTHISTORY_ADMIN] FOREIGN KEY([ACCEPTER])
REFERENCES [dbo].[ADMIN] ([USERNAME])
GO
ALTER TABLE [dbo].[ABSENTHISTORY] CHECK CONSTRAINT [FK_ABSENTHISTORY_ADMIN]
GO
ALTER TABLE [dbo].[ABSENTHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ABSENTHISTORY_EMPLOYEE] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[EMPLOYEE] ([USERNAME])
GO
ALTER TABLE [dbo].[ABSENTHISTORY] CHECK CONSTRAINT [FK_ABSENTHISTORY_EMPLOYEE]
GO
ALTER TABLE [dbo].[ABSENTHISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ABSENTHISTORY_REQUEST] FOREIGN KEY([REQUESTID])
REFERENCES [dbo].[REQUEST] ([ID])
GO
ALTER TABLE [dbo].[ABSENTHISTORY] CHECK CONSTRAINT [FK_ABSENTHISTORY_REQUEST]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_GROUP] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[GROUP] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_GROUP]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_ACCOUNT] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_ACCOUNT]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_ACCOUNT] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_ACCOUNT]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_WORKTIME] FOREIGN KEY([TIMEID])
REFERENCES [dbo].[WORKTIME] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_WORKTIME]
GO
ALTER TABLE [dbo].[GROUP_FEATURES]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_FEATURES_FEATURES] FOREIGN KEY([FEATUREID])
REFERENCES [dbo].[FEATURES] ([ID])
GO
ALTER TABLE [dbo].[GROUP_FEATURES] CHECK CONSTRAINT [FK_GROUP_FEATURES_FEATURES]
GO
ALTER TABLE [dbo].[GROUP_FEATURES]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_FEATURES_GROUP] FOREIGN KEY([GROUPID])
REFERENCES [dbo].[GROUP] ([ID])
GO
ALTER TABLE [dbo].[GROUP_FEATURES] CHECK CONSTRAINT [FK_GROUP_FEATURES_GROUP]
GO
ALTER TABLE [dbo].[WORKTIMEREPORT]  WITH CHECK ADD  CONSTRAINT [FK_WORKTIMEREPORT_ADMIN] FOREIGN KEY([ACCEPTER])
REFERENCES [dbo].[ADMIN] ([USERNAME])
GO
ALTER TABLE [dbo].[WORKTIMEREPORT] CHECK CONSTRAINT [FK_WORKTIMEREPORT_ADMIN]
GO
ALTER TABLE [dbo].[WORKTIMEREPORT]  WITH CHECK ADD  CONSTRAINT [FK_WORKTIMEREPORT_EMPLOYEE] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[EMPLOYEE] ([USERNAME])
GO
ALTER TABLE [dbo].[WORKTIMEREPORT] CHECK CONSTRAINT [FK_WORKTIMEREPORT_EMPLOYEE]
GO
USE [master]
GO
